@using Cookbook.Models
@using System.Security.Claims


<h2>Welcome to your cookbook @User.Identity.Name!</h2>
<hr>
<button class="btn btn-default">@Html.ActionLink("See my recipes", "Index", "Recipes")</button>
<br>
<button class="btn btn-default">@Html.ActionLink("See my tags", "Index", "Tags")</button>

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}